n8n-workflows/02-sync-workflow.json
{
  "name": "AI-Hana データ同期",
  "nodes": [
    {
      "parameters": {
        "content": "## セットアップ手順\n\n1. **クレデンシャル作成（2つ）**\n   - 「OpenAI API Key」: HTTP Header Auth → Name: `Authorization` / Value: `Bearer sk-proj-xxxx`\n   - 「Pinecone API Key」: HTTP Header Auth → Name: `Api-Key` / Value: `pcsk_xxxx`\n\n2. **3つの Google Sheets Read ノード**: クレデンシャル選択 + シートID設定\n\n3. **OpenAI Embedding ノード**: 「OpenAI API Key」クレデンシャルを選択\n\n4. **Pinecone Upsert ノード**: 「Pinecone API Key」クレデンシャルを選択 + URL書き換え\n\n5. **GAS連携**: GAS側のリクエスト先を `https://your-n8n-host/webhook/ai-hana-sync` に変更"
      },
      "id": "sticky-setup",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-hana-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-sync",
      "name": "Webhook Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "ai-hana-sync",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "メルマガ"
        },
        "range": "A:D",
        "options": {}
      },
      "id": "sheets-newsletter",
      "name": "Read Newsletter",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "ポッドキャスト"
        },
        "range": "A:E",
        "options": {}
      },
      "id": "sheets-podcast",
      "name": "Read Podcast",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 340],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "有料商品"
        },
        "range": "A:D",
        "options": {}
      },
      "id": "sheets-paid",
      "name": "Read PaidProduct",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 520],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    id: `newsletter_${item.json.id}`,\n    category: 'newsletter',\n    audio_url: ''\n  }\n}));"
      },
      "id": "code-tag-newsletter",
      "name": "Tag Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 160]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    id: `podcast_${item.json.id}`,\n    category: 'podcast',\n    audio_url: String(item.json.audio_url || '')\n  }\n}));"
      },
      "id": "code-tag-podcast",
      "name": "Tag Podcast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 340]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    id: `paid_product_${item.json.id}`,\n    category: 'paid_product',\n    audio_url: ''\n  }\n}));"
      },
      "id": "code-tag-paid",
      "name": "Tag PaidProduct",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 520]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// 3つのシートのデータを結合\nconst newsletter = $('Tag Newsletter').all();\nconst podcast = $('Tag Podcast').all();\nconst paidProduct = $('Tag PaidProduct').all();\nconst all = [...newsletter, ...podcast, ...paidProduct];\nreturn all;"
      },
      "id": "code-merge-all",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 340]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// 各行から embedding 用のテキストを抽出\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    text: String(item.json.body || '')\n  }\n}));"
      },
      "id": "code-prepare-inputs",
      "name": "Prepare Embedding Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "text-embedding-3-small" },
            { "name": "input", "value": "={{ $json.text }}" }
          ]
        },
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "http-openai-embedding",
      "name": "OpenAI Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1500, 340],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// OpenAI の embedding レスポンスと Merge All Data の結合データを使って\n// Pinecone upsert 用のバッチを作成\nconst embeddingItems = $input.all();\nconst mergedItems = $('Merge All Data').all();\n\nconst records = [];\nconst count = Math.min(embeddingItems.length, mergedItems.length);\n\nfor (let i = 0; i < count; i++) {\n  const embResponse = embeddingItems[i].json;\n  const row = mergedItems[i].json;\n\n  const id = String(row.id || '');\n  const title = String(row.title || '');\n  const body = String(row.body || '');\n  const url = String(row.url || '');\n  const category = String(row.category || '');\n  const audio_url = String(row.audio_url || '');\n\n  if (!id || !body || !embResponse.data?.[0]?.embedding) continue;\n\n  records.push({\n    id,\n    values: embResponse.data[0].embedding,\n    metadata: { title, body, url, category, audio_url }\n  });\n}\n\nif (records.length === 0) {\n  return [{ json: { success: true, message: 'No data to sync', count: 0 } }];\n}\n\n// 100件ずつバッチに分割\nconst batchSize = 100;\nconst batches = [];\nfor (let i = 0; i < records.length; i += batchSize) {\n  batches.push({ json: { vectors: records.slice(i, i + batchSize) } });\n}\n\nreturn batches;"
      },
      "id": "code-prepare-upsert",
      "name": "Prepare Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PINECONE_HOST/vectors/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-pinecone-upsert",
      "name": "Pinecone Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2000, 340],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// 同期結果のサマリーを返す\nconst items = $input.all();\nconst totalUpserted = items.reduce((sum, item) => {\n  return sum + (item.json.upsertedCount || 0);\n}, 0);\n\nreturn [{\n  json: {\n    success: true,\n    message: `Sync completed`,\n    upsertedBatches: items.length,\n    totalUpserted\n  }\n}];"
      },
      "id": "code-prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 340]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-sync",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2500, 340]
    }
  ],
  "connections": {
    "Webhook Sync": {
      "main": [
        [
          { "node": "Read Newsletter", "type": "main", "index": 0 },
          { "node": "Read Podcast", "type": "main", "index": 0 },
          { "node": "Read PaidProduct", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Newsletter": {
      "main": [
        [
          { "node": "Tag Newsletter", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Podcast": {
      "main": [
        [
          { "node": "Tag Podcast", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read PaidProduct": {
      "main": [
        [
          { "node": "Tag PaidProduct", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tag Newsletter": {
      "main": [
        [
          { "node": "Merge All Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tag Podcast": {
      "main": [
        [
          { "node": "Merge All Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Tag PaidProduct": {
      "main": [
        [
          { "node": "Merge All Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          { "node": "Prepare Embedding Inputs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Embedding Inputs": {
      "main": [
        [
          { "node": "OpenAI Embedding", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Embedding": {
      "main": [
        [
          { "node": "Prepare Upsert", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Upsert": {
      "main": [
        [
          { "node": "Pinecone Upsert", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pinecone Upsert": {
      "main": [
        [
          { "node": "Prepare Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
